{% include "header.html"%}
<div class="container">
    <table class="table table-bordered table-striped">
      <tr>
        <th width="5%">序号</th>
        <th width="10%">时间</th>
        <th width="10%">申请人</th>
        <th widht="20%">申请类型</th>
        <th width="10%">审核人</th>
        <th width="20%">申请内容</th>
        <th width="15%">操作</th>
      </tr>
      <tr>
        <td>
          <div>1</div>
        </td>
        <td>
            <div>123</div>
        </td>
        <td>
            <div>xiny1</div>
        </td>
        <td>
            <div>新增订阅</div>
        </td>
        <td>
            <div>xiny1</div>
        </td>
        <td>
            <a class="btn btn-info btn-sm" data-toggle="modal" data-target="#{{task.Name}}">详情</a>
            <div class="modal fade" id="{{task.Name}}" tabindex="-1" role="dialog" aria-labelledby="{{task.Name}}">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">{{task.Name}}</h4>
                    </div>
                    <div class="modal-body">
                      <table class="table table-condensed table-striped">
                        <tr>
                          <th>数据库</th>
                          <th>表名</th>
                          <th>字段</th>
                          <th>是否推送值</th>
                        </tr>
                        {% for field in task.Fields %}
                        <tr>
                          <td>
                            {{field.Schema}}
                          </td>
                          <td>
                            {{field.Table}}
                          </td>
                          <td>
                            {{field.Column}}
                          </td>
                          <td>
                            {%if field.Send%}是{%else%}否{%endif%}
                          </td>
                        </tr>
                        {% endfor%}
                      </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                  </div>
                </div>
              </div>
        </td>
        <td>
            <div>
                <button class="btn btn-primary btn-sm">同意</button>
                <button class="btn btn-danger btn-sm">不同意</button>
            </div>
        </td>
      </tr>
      {% for audit in audits %}
      <tr>
        <td>
          <div>{{audit.Id}}</div>
        </td>
        <td>
            <div>{{audit.CreateTime}}</div>
        </td>
        <td>
            <div>{{audit.ApplyUser}}</div>
        </td>
        <td>
            <div>{{audit.ApplyQuery}}</div>
        </td>
        <td>
            <div>{{audit.AuditUser}}</div>
        </td>
        <td>
            <div>
                <button>同意</button>
                <button>不同意</button>
            </div>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% include "footer.html" %}