{% include "header.html"%}
<div class="container">
  <table class="table table-bordered table-striped">
    <tr>
      <th width="5%">任务ID</th>
      <th width="25%">时间</th>
      <th width="40%">错误信息</th>
      <th width="30%">消息</th>
    </tr>
    {% for log in logs %}
      <tr>
        <td><div class="click-show">{{task.ID}}</div></td>
        <td><div class="click-show">{{log.CreateTime}}</div></td>
        <td><div class="click-show"> {{log.Reason}}</div></td>
        <td><div class="click-show"> {{log.Message}}</div></td>
      </tr>
    {% endfor %}
  </table>
</div>
<script>
  $(function() {
    $('.click-show').click(function(){
      $(this).toggleClass('click-show');
      $(this).parent().siblings().children().toggleClass('click-show');
    });
  });
</script>
{% include "footer.html" %}
