<div class="container">
    {% for statistic in statistics %}
    <h4><span>
        <span>主机地址:</span> <span class="label label-info">{{statistic.Producer.BroadcastAddress}}:{{statistic.Producer.HTTPPort}}</span>
        <span>Topic:</span> <span class="label label-info">{{statistic.Topic.Name}}</span>
    </span></h4>
    <table class="table table-condensed">
        <tr>
            <th>Channel</th>
            <th>当前消息总数</th>
            <th>准备重推消息数</th>
            <th>磁盘消息数</th>
            <th>已接收消息总数</th>
            <th>重推消息总数</th>
        </tr>
        {% for channel in statistic.Topic.Channels %}
            <tr>
                <td>{{channel.Name}}</td>
                <td>{{channel.Depth}}</td>
                <td>{{channel.DeferredCount}}</td>
                <td>{{channel.BackendDepth}}</td>
                <td>{{channel.MessageCount}}</td>
                <td>{{channel.RequeueCount}}</td>
            </tr>
        {% endfor %}
    </table>
    {% endfor%}
</div>