<div class="container">
    {% for statistic in statistics %}
    <h4><span>
        <span>BroadcastAddress:</span> <span class="label label-info">{{statistic.Producer.BroadcastAddress}}:{{statistic.Producer.HTTPPort}}</span>
        <span>Topic:</span> <span class="label label-info">{{statistic.Topic.Name}}</span>
    </span></h4>
    <table class="table table-condensed">
        <tr>
            <th>Channel</th>
            <th>Depth</th>
            <th>BackendDepth</th>
            <th>Messages</th>
        </tr>
        {% for channel in statistic.Topic.Channels %}
            <tr>
                <td>{{channel.Name}}</td>
                <td>{{channel.Depth}}</td>
                <td>{{channel.BackendDepth}}</td>
                <td>{{channel.MessageCount}}</td>
            </tr>
        {% endfor %}
    </table>
    {% endfor%}
</div>