{% include "header.html"%}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <form method="post" id="form">
        <input type="hidden" name="taskid" value="{{task.ID}}">
        <div class="col-md-12">
          <div class="form-group col-md-6">
            <div class="form-inline">
              <label for="name">任务名称</label>
              <p class="form-control-static">(只能是数字、字母、下划线；长度不超过50；不能修改)</p>
            </div>
            <input class="form-control" type="text" name="name" id="name" value="{{task.Name}}" readonly>
          </div>
          <div class="form-group col-md-6">
            <div class="form-inline">
              <label for="desc">任务描述</label>
              <p class="form-control-static">(任务描述)</p>
            </div>
            <input class="form-control" type="text" name="desc" id="desc" value="{{task.Desc}}">
          </div>
          <div class="form-group col-md-6">
            <div class="form-inline">
              <label for="apiurl">推送地址</label>
              <p class="form-control-static">(HTTP POST推送消息)</p>
            </div>
            <input class="form-control" type="text" name="apiurl" id="apiurl" value="{{task.Apiurl}}">
          </div>
          <div class="form-group col-md-6">
            <div class="form-inline">
              <label for="routineCount">推送消息并发数</label>
              <p class="form-control-static">(1-10)</p>
            </div>
            <input class="form-control" type="text" name="routineCount" id="routineCount" value="{{task.RoutineCount}}">
          </div>
          <div class="form-group col-md-6">
            <div class="form-inline">
              <label for="reRoutineCount">重推消息并发数</label>
              <p class="form-control-static">(1-10)</p>
            </div>
            <input class="form-control" type="text" name="reRoutineCount" id="reRoutineCount" value="{{task.ReRoutineCount}}">
          </div>
          <div class="form-group col-md-6">
            <div class="form-inline">
              <label for="reSendTime">重推时间间隔</label>
              <p class="form-control-static">(0-30000ms)</p>
            </div>
            <input class="form-control" type="text" name="reSendTime" id="reSendTime" value="{{task.ReSendTime}}">
          </div>
          <div class="form-group col-md-6">
            <div class="form-inline">
              <label for="retryCount">重推消息次数</label>
              <p class="form-control-static">(0-10)</p>
            </div>
            <input class="form-control" type="text" name="retryCount" id="retryCount" value="{{task.RetryCount}}">
          </div>
          <div class="form-group col-md-6">
            <div class="form-inline">
              <label for="timeout">推送消息超时</label>
              <p class="form-control-static">(1-30000ms)</p>
            </div>
            <input class="form-control" type="text" name="timeout" id="timeout" value="{{task.Timeout}}">
          </div>
          <div class="form-group col-md-12">
            <div class="form-inline">
              <label for="state">状态：</label>
              <div class="radio">
                <label>
                    <input type="radio" name="state" id="state" value="正常" {%if (task.Stat=="正常")%}checked {%endif%}> 正常
                </label>
                <label>
                    <input type="radio" name="state" id="state" value="停止" {%if (task.Stat=="停止")%}checked {%endif%}> 停止
                </label>
              </div>
            </div>
          </div>         
          <div class="form-group">
            <button type="button" class="btn btn-primary" id="submit" onclick="modifyTask()">更新</button>
          </div>
        </div>
        <div id="rightdiv" class="form-inline">
            {% for schema, tables in taskColumnsMap %} 
            {% for table, fields in tables %}
            <div class="col-md-12 right-field-div" id="{{schema}}-{{table}}">
            <h3><input class="" onchange="changeFieldValue(this)" value="{{schema}}.{{table}}"></input>
                <a href="javascript:void(0)" onclick="removeFieldDiv(this)" class="btn btn-lg">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </h3>
            <div class="row rowCont">
            {% for f in fields %}
            <div class="col-md-4" style="margin-bottom:5px;">
              <div class="form-group">
                <div class="input-group">
                  <input value="{{f.Column}}" readonly type="text" class="form-control">
                  <input name="fields" value="{{schema}}.{{table}}.{{f.Column}}" type="hidden">
                </div>
                <div class="checkbox"><label><input type="checkbox" name="{{schema}}.{{table}}.{{f.Column}}" value="1" {%if f.Send%}checked{%endif%}></input>是否推送值<label>
                </div>
                <a href="#" onclick="removeField(this)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
              </div>
            </div>
            {% endfor %}
            </div>
          </div> 
        {% endfor %} 
        {% endfor%}
        </div>
      </form>
    <script>
    function removeField(obj) {
      $(obj).closest('.form-group').parent().remove();
    }
    function removeFieldDiv(obj) {
      $(obj).parent().parent().remove();
    }
    function addRightField(schema, table, column) {
      var field = schema + '.' + table + '.' + column;
      var divid = schema + '-' +table;
    
      var data = '<div class="col-md-4" style="margin-bottom:5px;">\
      <div class="form-group">\
      <div class="input-group">\
      <input value="'+ column + '" readonly type="text" class="form-control">\
      <input name="fields" type="hidden" value="'+ field + '">\
      </div>\
      <div class="checkbox"><label><input type="checkbox" name="' + field + '" value="1"></input>是否推送值<label></div>\
      <a href="javascript:void(0)" onclick="removeField(this)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>\
      </div>\
      </div>';
      addRightDiv(schema, table);    
      if(!checkRightField(schema, table, column)) {
        $('#'+divid).find('.rowCont').append(data);
      }
    }
    function addRightDiv(schema, table) {
      var field = schema + '-' + table;
      var data = '<div class="col-md-12 right-field-div" id="' + field + '"><h3><input class="" onchange="changeFieldValue(this)" value="' + schema + '.' + table + '"></input><a href="javascript:void(0)" onclick="removeFieldDiv(this)" class="btn btn-lg"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></h3><div class="row rowCont"></div></div>';
      var d = document.getElementById(field);
      if(!d){
        $('#rightdiv').append(data);
      }
    }
    function checkRightField(schema, table, column) {
        var field = schema + '-' + table;
        var d = document.getElementById(field);
        return $(d).find(':text').is($(':text[value=' + column + ']'));
    }
    function changeFieldValue(obj) {
      var newVal = $(obj).val();
      var pardiv = $(obj).parents(".right-field-div")[0];
      var hiddenobj = $(pardiv).find(":hidden");
      $(hiddenobj).each(function(){
        var fieldVal = $(this).prev().val();
        $(this).val(newVal + "." + fieldVal);
      });

    }
    function modifyTask() {
      if(confirm('确认修改？')){
        var options = {
          url: '/task',
          type: 'put',
          dataType: 'json',
          data: $('#form').serialize(),
          success: function(data) {
            alert(data.Message);
          },
          error: function(data) {
              if(data.status == 422) {
                alert("任务数据格式错误");
              }else {
                alert('修改失败');
              }
          }
        };
        $.ajax(options);
        return false;
      }
    }
   </script>
      <div class="col-sm-3 col-md-2 sidebar" id="add-left-sidebar">
        {% include "taskleft.html" %}
      </div>
    </div>
  </div>

  {% include "footer.html"%}
