<div class="container">
    <table class="table table-condensed table-striped">
        <tr>
            <td>已发消息数量</td>
            <td>{{statistic.SendMessageCount}}</td>
        </tr>
        <tr>
            <td>重发消息数量</td>
            <td>{{statistic.ReSendMessageCount}}</td>
        </tr>
        <tr>
            <td>发送成功消息数</td>
            <td>{{statistic.SendSuccessCount}}</td>
        </tr>
        <tr>
            <td>发送失败消息数</td>
            <td>{{statistic.SendFailedCount}}</td>
        </tr>
    </table>
</div>